<div id="<%= @game.slug %>"></div>

<h2>Listing Gameplays</h2>

<table class="table">
  <thead>
    <tr>
      <th>Player</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
<%= for gameplay <- @gameplays do %>
    <tr>
      <td><%= player_name(gameplay.player_id) %></td>
      <td><%= gameplay.player_score %></td>
    </tr>
<% end %>
  </tbody>
</table>
