<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Platform · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <%= if @current_user do %>
              <p class="nav-text">
                Signed in as&nbsp;
                <strong><%= link @current_user.username, to: Routes.player_path(@conn, :edit, @current_user) %></strong>
              </p>
              <%= link "Sign Out", to: Routes.player_session_path(@conn, :delete, @current_user), method: "delete", class: "button" %>
            <% else %>
              <%= link "Sign Up", to: Routes.player_path(@conn, :new), class: "button" %>
              <%= link "Sign In", to: Routes.player_session_path(@conn, :new), class: "button" %>
            <% end %>
          </ul>
        </nav>
        <h1><%= link "Platform", to: Routes.page_path(@conn, :index), class: "logo" %></h1>
      </section>
    </header>
    <main role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script>window.userToken = encodeURIComponent("<%= assigns[:user_token] %>");</script>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-96476785-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
