/* This file is for your main application css. */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.alert:empty {
  display: none;
}

.navbar {
  height: 75px;
}

.splash {
  background-color: black;
  color: white;
  height: 400px;
}

.splash-image {
  padding-top: 60px;
}

.content {
  margin-top: 20px;
}