<h1>Listing Players</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Score</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for player <- @players do %>
    <tr>
      <td><%= player.username %></td>
      <td><%= player.score %></td>

      <td>
        <%= link "Show", to: Routes.player_path(@conn, :show, player) %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Player", to: Routes.player_path(@conn, :new) %></span>
